
.bank-home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .mat-toolbar{
    background-color: blueviolet;
  }
  .toolbar-title {
    font-size: 24px;
    font-weight: bold;

  }
  .section-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .mat-card {
    width: 100%;
  }
  .summary-card, .transactions-card, .links-card {
    background-color: #C0C0C0;

  }
  .links-card{
    padding: 25px;
  }
  .summary-item, .transaction-item {
    display: flex;
    justify-content: space-between;
  }

  .item-label {
    font-weight: bold;
  }
  .links-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


  .item-value, .item-description, .item-amount {
    font-size: 16px;
  }
}



