@import '@angular/material/prebuilt-themes/indigo-pink';


.internet-banking{
  background-color: #2E3A59;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#F4F5F7;

    &__menu{
      justify-content: space-around;
      align-items: center;
      gap: 10px;

    }
    &__title{
      background-color: azure;
    }
}

