<div class="profile">
  <div class="info">
    <div class="profile__data">
      <form [formGroup]="profileForm">
        
          <mat-form-field>
            <input
              matInput
              placeholder="Nome Completo"
              formControlName="name"
            />
          </mat-form-field>
      
          <mat-form-field>
            <input
              matInput  
              placeholder="Número da Conta"
              formControlName="accountNumber"
            />
          </mat-form-field>
        
          <mat-form-field >
            <input
              matInput
              type="email"
              placeholder="Digite um email válido"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field >
            <input
              matInput
              type="tel"
              placeholder="Digite seu número"
              formControlName="phone"
            />
          </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="submit()">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>

<button class="notification"
  mat-stroked-button
  aria-label="Show an example snack-bar"
>
  </button
>